header { 
    .spec {
      @include clearfix;
      .menu {
          float: left;
          button {
              width: 56px;
              height: 56px;
              padding: 0;
              background-image: url(../../../client/images/header/icon/menu.svg);
              background-repeat: no-repeat;
              background-size: 14px 14px;
              background-position: 21px 21px;
              background-color: transparent;
              border:none;
              outline:none;              
            }
            .color-button {
                background-color: #4ccde8;
            }
        }
        .information {
            float: left;
            width: 100%;
            background-color: rgba(#636363,0.7);
            @include box-sizing(border-box);
            @include clearfix;
            .all-info {
                font-family: 'Roboto', sans-serif;
                font-weight: bold;  
                            
                .diary {  
                float: left;
                width: 10%;
                padding:0 20px;
                font-size: 16px;
                line-height: 56px;
                @include breakpoint(small) {                    
                    width: 30%;
                }
                @include breakpoint(extra-small) {                    
                    width: 30%;
                }
                 a { 
                   padding: 0px;
                   color: #ffffff;
                   &:focus {
                       background-color: transparent;
                   }
                   &:hover {
                       background-color: transparent;
                       border:none;
                       text-decoration: underline;
                   }   
                 }                   
                } 
                .date {
                    float:left;
                    display: block;
                    width: 70%;                   
                    text-align: center;                      
                    @include breakpoint(small) {
                        display: none;
                        width: auto;
                    }
                     @include breakpoint(extra-small) {                    
                        display: none;
                        width: auto;
                    }
                    ul {
                        font-size: 0;                        
                        li {
                            display: inline-block;
                            margin-right: 8px;
                            font-size: 16px;
                            line-height: 56px;
                            a { 
                                padding: 0px;
                                color: #ffffff;
                                &:focus {
                                    background-color: transparent;
                                }
                                &:hover {
                                    background-color: transparent;
                                    border:none;
                                    text-decoration: underline;
                                }   
                            }  
                        }
                    }
                } 
                .options {
                    float: left;
                    width: 20%;
                    margin-bottom: 0;
                    font-size: 0;
                    @include breakpoint(small) {                    
                    width: 70%;
                    }
                    @include breakpoint(extra-small) {                    
                        width: 70%;
                    }
                    ul {
                        text-align: right;
                        li {
                            display: inline-block;  
                            width: 34px;    
                            height: 56px;
                            padding-top:21px;           
                            vertical-align: middle;
                            outline:none;
                            a {
                                &:hover {
                                    background:none;
                                }
                                &:focus {
                                    background:none;
                                }
                             }
                            &:first-child {
                                text-align: left;
                                .add {  
                                    padding:0;                       
                                    .svg-add {
                                        width: 14px;
                                        height: 14px;
                                        polygon {
                                            fill:#4ccde8;
                                            @include transition-property(all);
                                            @include transition-duration(200ms);
                                        }                                   
                                        &:hover {
                                            polygon {
                                                fill:#ffffff;
                                            }
                                        }
                                    }  
                                }
                            }
                            &:nth-child(2) {
                                .month {
                                    display: block;
                                    text-indent: -9999px;
                                    width: 14px;
                                    height: 14px;
                                    background: url(../../../client/images/header/icon/month.svg);
                                    background-size: 14px 14px;
                                    background-repeat: no-repeat;
                                    @include transition-property(all);
                                    @include transition-duration(200ms);
                                    &:hover {
                                        width: 14px;
                                        height: 14px;
                                        background: url(../../../client/images/header/icon/month1.svg);
                                        background-size: 14px 14px;
                                        background-repeat: no-repeat;
                                        }
                                    }
                                }
                            &:nth-child(3) {
                                .search {
                                    display: block;
                                    padding: 0;
                                    width: 14px;
                                    height: 14px;
                                    .svg-search {
                                        width: 14px;
                                        height: 14px;
                                        .path-color {
                                            fill:#4ccde8;
                                            @include transition-property(all);
                                            @include transition-duration(200ms);
                                        }
                                        &:hover {
                                          .path-color {
                                              fill:#ffffff;
                                            } 
                                        }
                                    } 
                                }
                            }
                            &:nth-child(4) {
                                .notification {
                                    display: block;
                                    width: 14px;
                                    height: 14px;
                                    padding:0;                              
                                    .svg-notification {
                                        width: 14px;
                                        height: 14px;
                                        path {
                                            fill:#4ccde8;
                                            @include transition-property(all);
                                            @include transition-duration(200ms);
                                        }
                                        &:hover {
                                            path {
                                                fill:#ffffff;
                                            }   
                                        }
                                    }
                                } 
                                .notification-active {
                                    position: relative;
                                    display: block;
                                    width: 14px;
                                    height: 14px;
                                    padding:0;                              
                                    .svg-notification {                                 
                                        width: 14px;
                                        height: 14px;
                                        path {
                                            fill:#09e903;
                                        }
                                        &:hover {
                                          path {
                                                fill:#09e903;
                                            }   
                                        }
                                    } 
                                    sup {
                                        position:absolute;
                                        top:-7px;
                                        right: -6px;
                                        display: block;
                                        width: 15px;
                                        height: 15px;                                   
                                        background-color: #09e903;
                                        border: 2px solid #6c6c6c;  
                                        font-family: 'Roboto', sans-serif;                              
                                        font-size: 10px;                                    
                                        font-weight: bold;
                                        text-align: center;
                                        vertical-align: super;  
                                        line-height: 11px;
                                        color: #383838;
                                        content: "2";
                                        @include border-radius(50%) 
                                    }
                                }   
                                /* .notification-active {
                                    position: relative;
                                    display: block;
                                    width: 14px;
                                    height: 14px;
                                    padding:0;                              
                                    .svg-notification {                                 
                                        width: 14px;
                                        height: 14px;
                                        path {
                                            fill:#09e903;
                                        }
                                    } 
                                     sup {
                                        position:absolute;
                                        top:-7px;
                                        right: -6px;
                                        display: block;
                                        width: 15px;
                                        height: 15px;                                   
                                        background-color: #09e903;
                                        border: 2px solid #6c6c6c;  
                                        font-family: 'Roboto', sans-serif;                              
                                        font-size: 10px;                                    
                                        font-weight: bold;
                                        text-align: center;
                                        vertical-align: super;  
                                        line-height: 11px;
                                        color: #383838;
                                        content: "2";
                                        @include border-radius(50%) 
                                    } */    
                                    /* &::before {
                                        position:absolute;
                                        top:-5px;
                                        right: -4px;
                                        display: block;
                                        width: 13px;
                                        height: 13px;                                   
                                        background-color: #09e903;
                                        border: 2px solid #6c6c6c;
                                        content: "";
                                        @include border-radius(50%);
                                    }                           
                                    &::after {
                                        position:absolute;
                                        top:-6px;
                                        right: -4px;
                                        display: block;
                                        width: 13px;
                                        height: 13px;                                   
                                        font-family: 'Roboto', sans-serif;
                                        font-size: 10px;
                                        font-weight: bold;
                                        text-align: center;                                     
                                        content: '2';   
                                        color: #000000;                                 
                                    }        */                                                     
                                //}
                            }
                            &:last-child {
                                width: 56px;
                                padding-top:0px;
                                a {
                                    width: 56px;
                                    height: 56px;
                                    background-image: url(../../../client/images/header/person.png);
                                }   
                            }
                        }
                    }    
                } 
            }
        }           
    }
 }  